@define-color base00 #1a1b26; @define-color base01 #16161e; @define-color base02 #2f3549; @define-color base03 #444b6a;
@define-color base04 #787c99; @define-color base05 #a9b1d6; @define-color base06 #cbccd1; @define-color base07 #d5d6db;

@define-color base08 #c0caf5; @define-color base09 #a9b1d6; @define-color base0A #0db9d7; @define-color base0B #9ece6a;
@define-color base0C #b4f9f8; @define-color base0D #2ac3de; @define-color base0E #bb9af7; @define-color base0F #f7768e;

* {
    font-family: "DejaVu Sans";
    font-size: 10pt;
}
window#waybar, tooltip {
    background: alpha(@base00, 1.000000);
    color: @base05;
}

tooltip {
    border-color: @base0D;
}
#wireplumber,
#pulseaudio,
#sndio {
    padding: 0 5px;
}
#wireplumber.muted,
#pulseaudio.muted,
#sndio.muted {
    padding: 0 5px;
}
#upower,
#battery {
    padding: 0 5px;
}
#upower.charging,
#battery.Charging {
    padding: 0 5px;
}
#network {
    padding: 0 5px;
}
#network.disconnected {
    padding: 0 5px;
}
#user {
    padding: 0 5px;
}
#clock {
    padding: 0 5px;
}
#backlight {
    padding: 0 5px;
}
#cpu {
    padding: 0 5px;
}
#disk {
    padding: 0 5px;
}
#idle_inhibitor {
    padding: 0 5px;
}
#temperature {
    padding: 0 5px;
}
#mpd {
    padding: 0 5px;
}
#language {
    padding: 0 5px;
}
#keyboard-state {
    padding: 0 5px;
}
#memory {
    padding: 0 5px;
}
#window {
    padding: 0 5px;
}
.modules-left #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-left #workspaces button.focused,
.modules-left #workspaces button.active {
    border-bottom: 3px solid @base05;
}
.modules-center #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-center #workspaces button.focused,
.modules-center #workspaces button.active {
    border-bottom: 3px solid @base05;
}
.modules-right #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-right #workspaces button.focused,
.modules-right #workspaces button.active {
    border-bottom: 3px solid @base05;
}
